<div class="row">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span class="text-uppercase">Listado de Usuarios</span>
                <div class="widget-controls"> 
             
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                   
                </div>        
            </div>
            <div class="card-block widget-body">

                 <div *ngIf="toast" class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{message}}</strong> 
                </div>
                
                <div class="w-200 pull-right bottom-15">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input class="form-control" id="table-search-input" [(ngModel)]="searchText" type="text" placeholder="Buscar nombre...">
                    </div>
                </div> 
                <div class="table-responsive datatable">
                    <table class="table table-striped table-hover table-sm" [mfData]="usersData  | SearchPipe : searchText" #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th> <mfDefaultSorter by="cedula">Cedula</mfDefaultSorter></th>                              
                                <th><mfDefaultSorter by="name">Nombre</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="lastName">Apellido</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="description">Correo</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="date">Telefono</mfDefaultSorter></th>
                                <th>Acciones</th>      
                            </tr>
                        </thead>
                        <tbody>                           
                            <tr *ngFor="let user of usersData">
                                <td><strong>  {{user.cedula}}   </strong></td>
                                <td>{{user.name}}</td>
                                <td>
                                    {{user.lastName}}
                                </td>
                                <td>
                                     {{user.email}}
                                </td>
                                <td>
                                    {{user.phone}}
                                </td>
                                <td class="row col  bottom-15">
                                  
                                      <div class="d-inline-block">
                                                <div class="row">
                              
                                                    <button type="button" class="btn btn-primary">Editar</button>
                                                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#primary-modal">Borrar</button>

                                                                                        <div class="modal fade" id="primary-modal" tabindex="-1" role="dialog" aria-labelledby="modal-primary-label">
                                                                                            <div class="modal-dialog" role="document">
                                                                                                <div class="modal-content">
                                                                                                    <div class="modal-header state modal-primary">                                    
                                                                                                        <h4 class="modal-title" id="modal-primary-label"><i class="fa fa-exclamation-triangle"></i>Estas Seguro?</h4>
                                                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                                                                    </div>
                                                                                                    <div class="modal-body">
                                                                                                        Se borrara el usuario y todos los datos relacionados
                                                                                                    </div>
                                                                                                    <div class="modal-footer">
                                                                                                        <button (click)="borrar(user._id)" type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                                                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                </div>
                                                
                                            </div>
                                </td>
                                </tr>
                          
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="12">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[10, 25, 50, 100]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>