<div class="row">
    
    <div class="col-md-12">
        <div widget class="card">
            <div class="card-header">
                <span>NUEVO BUSSINESS</span>
                <div class="widget-controls">              
  
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
         
                </div>        
            </div>
            <div class="card-block widget-body">
 <form [formGroup]="bussinessForm" class="row">
            
        <div class="form-group col-md-5" [ngClass]="{'has-danger' :  bussinessForm.get('name').hasError('required') && attempt.valid == false
                    , 'has-success' : !bussinessForm.get('name').hasError('required') }">
            <label class="form-control-label">Nombre</label>
            <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
                    <input formControlName="name" class="form-control" [ngClass]="{'form-control-danger' :  bussinessForm.get('name').hasError('required') && attempt.valid == false
                    , 'form-control-success' :  !bussinessForm.get('name').hasError('required') }" type="text"> 
            </div>
        
            <span class="help-block text-danger" *ngIf="bussinessForm.get('name').hasError('required') && attempt.valid == false">Nombre no puede estar vacio</span>                             
        </div>

        <div class="form-group col-md-5" [ngClass]="{'has-danger' : bussinessForm.get('ruc').hasError('required') && attempt.valid == false
        , 'has-success' : !bussinessForm.get('ruc').hasError('required') }">
            <label class="form-control-label">Ruc</label>
            <div class="input-group">  
                <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
                <input formControlName="ruc" class="form-control" [ngClass]="{'form-control-danger' :  bussinessForm.get('ruc').hasError('required') && attempt.valid == false,
                 'form-control-success' :  !bussinessForm.get('ruc').hasError('required') }" type="text"> 
            </div>
        
            <span class="help-block text-danger" *ngIf="bussinessForm.get('ruc').hasError('required') && attempt.valid == false">Ruc no puede estar vacio</span>                             
        </div>


         <div class="form-group col-md-5" [ngClass]="{'has-danger' : (attempt.valid == false && bussinessForm.get('password').hasError('required')) || (attempt.valid == false && bussinessForm.get('password').hasError('minlength')), 
                                                                     'has-success' : !bussinessForm.get('password').hasError('required') && !bussinessForm.get('password').hasError('minlength')}">
                            <label class="form-control-label">Contrasena</label> 
                            <div class="input-group"> 
                                <div class="input-group-addon"><i class="fa fa-key"></i></div>                       
                                <input formControlName="password" class="form-control" [ngClass]="{'form-control-danger' : (attempt.valid == false && bussinessForm.get('password').hasError('required')) || (attempt.valid == false && bussinessForm.get('password').hasError('minlength')),                                                                                                        
                                'form-control-success' : !bussinessForm.get('password').hasError('required') && !bussinessForm.get('password').hasError('minlength')}" type="password">
                            </div>
                            <span class="help-block text-danger" *ngIf="attempt.valid == false && bussinessForm.get('password').hasError('required')">Contrasena es Necesaria</span>                              
                            <span class="help-block text-danger" *ngIf="attempt.valid == false && bussinessForm.get('password').hasError('minlength')">La contrasena debe tener minimo 6 caracteres</span>                            
                        </div>


         <div class="form-group col-md-5" [ngClass]="{'has-danger' : bussinessForm.get('userMaster').hasError('invalidCedula') && attempt.valid == false || bussinessForm.get('userMaster').hasError('required') && attempt.valid == false || bussinessForm.get('userMaster').hasError('invalidNumber') && attempt.valid == false , 
        'has-success' : !bussinessForm.get('userMaster').hasError('invalidCedula') && !bussinessForm.get('userMaster').hasError('required') && !bussinessForm.get('userMaster').hasError('invalidNumber')  }">
            <label class="form-control-label">Usuario Maestro</label>
            <div class="input-group">  
                <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
                <input maxlength="10" formControlName="userMaster" class="form-control" [ngClass]="{'form-control-danger' :  bussinessForm.get('userMaster').hasError('invalidCedula') && attempt.valid == false || bussinessForm.get('userMaster').hasError('required') && attempt.valid == false || bussinessForm.get('userMaster').hasError('invalidNumber') && attempt.valid == false , 
                'form-control-success' :  !bussinessForm.get('userMaster').hasError('invalidCedula') && !bussinessForm.get('userMaster').hasError('required') &&  !bussinessForm.get('userMaster').hasError('invalidNumber')}" type="text"> 
            </div>
        
            <span class="help-block text-danger" *ngIf="bussinessForm.get('userMaster').hasError('required')&& attempt.valid == false">Usuario Maestro no puede estar vacio</span>                             
            <span class="help-block text-danger" *ngIf="bussinessForm.get('userMaster').hasError('invalidCedula')&& attempt.valid == false">Usuario Mastro Invalido</span>                             
            <span class="help-block text-danger" *ngIf="bussinessForm.get('userMaster').hasError('invalidNumber')&& attempt.valid == false">No es un numero</span>                             
        </div>



        
   


   <div class="form-group col-md-5" [ngClass]="{'has-danger' : attempt.valid == false && bussinessForm.get('phone').hasError('required'),
    'has-success' : !bussinessForm.get('phone').hasError('required') }">
            <label class="form-control-label">Telefono</label>
            <div class="input-group">  
                <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
                <input formControlName="phone" class="form-control" [ngClass]="{'form-control-danger' : attempt.valid == false && bussinessForm.get('phone').hasError('required'), 
                'form-control-success' :  !bussinessForm.get('phone').hasError('required') }" type="text"> 
            </div>
        
            <span class="help-block text-danger" *ngIf=" attempt.valid == false && bussinessForm.get('ruc').hasError('required')">Telefono no puede estar vacio</span>                             
        </div>


        <div class="form-group col-md-5" [ngClass]="{'has-danger' : attempt.valid == false && bussinessForm.get('movil').hasError('required'), 'has-success' : !bussinessForm.get('movil').hasError('required') }">
            <label class="form-control-label">Telefono Movil</label>
            <div class="input-group">  
                <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
                <input formControlName="movil" class="form-control" [ngClass]="{'form-control-danger' : attempt.valid == false && bussinessForm.get('movil').hasError('required'), 'form-control-success' :  !bussinessForm.get('movil').hasError('required') }" type="text"> 
            </div>
        
            <span class="help-block text-danger" *ngIf=" attempt.valid == false && bussinessForm.get('movil').hasError('required')">Telefono Movil no puede estar vacio</span>                             
        </div>




        <div class="form-group col-md-5" [ngClass]="{'has-danger' : attempt.valid == false && bussinessForm.get('mail').hasError('required')  || attempt.valid == false && bussinessForm.get('mail').hasError('invalidEmail')   , 'has-success' : !bussinessForm.get('mail').hasError('required') && !bussinessForm.get('mail').hasError('invalidEmail') }">
            <label class="form-control-label">Email</label>
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-id-card-o"></i></div>
                
                <input formControlName="mail" class="form-control" [ngClass]="{'form-control-danger' :  attempt.valid == false && bussinessForm.get('mail').hasError('required') || attempt.valid == false && bussinessForm.get('mail').hasError('invalidEmail'), 'form-control-success' :  !bussinessForm.get('mail').hasError('required') && !bussinessForm.get('mail').hasError('invalidEmail') }" type="text"> 
            </div>
            <span class="help-block text-danger" *ngIf=" attempt.valid == false && bussinessForm.get('mail').hasError('required')">Email esta vacio</span>
            <span class="help-block text-danger" *ngIf=" attempt.valid == false && bussinessForm.get('mail').hasError('invalidEmail')">Email Invalido</span>                             

        </div>

        

        <div class="form-group col-md-5">
                            <label for="input-12">Constitution Date</label>
                            <input formControlName="constitutionDate"  class="form-control" type="date" class="form-control">
        </div>
         <div class="form-group col-md-5">
              <label for="input-12">Web</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                   <i class="fa fa-chrome"></i> 
                                </div>
                                 <input formControlName="web"  class="form-control" type="text" class="form-control">
                            </div>
                           
                           
        </div>
        <div class="form-group col-md-3">
                            <label for="input-12"> Empleados</label>
                            <input formControlName="numberEmp"  class="form-control" type="number" class="form-control">
        </div>
        <div class="col bottom-15">
                    
                   
                   <div class="form-group">
                        <label for="input-12"> Parking</label>
                        <div class="abc-checkbox abc-checkbox-primary">
                            <input formControlName="parking" value="true" id="checkbox2" type="checkbox">
                            <label for="checkbox2">Yes</label>
                        </div>
               
                    </div>
                </div>
        

        <div class="form-group col-md-12">
                            <label for="input-12">Direccion</label>
                            <textarea formControlName="address"  class="form-control" class="form-control" cols="30" rows="10">

                            </textarea>

        </div>


      
                    <div class="col-12">
                        <button  class="btn btn-primary" (click)="saveBussiness()"><i class="fa fa-check"></i>Guardar</button>
                        
                    </div> 
          


  

     
                 
    </form>
              
            </div>
        </div>
    </div>
    </div>